@font-face {
  font-family: gilroy-medium;
  src: url("../Gilroy-Font/Gilroy Font/Gilroy-Medium.ttf") format("truetype"), url("../Gilroy-Font/Gilroy Font/Gilroy-Medium.woff") format("woff"), url("../Gilroy-Font/Gilroy Font/Gilroy-Medium.eot");
}

@font-face {
  font-family: gilroy-bold;
  src: url("../Gilroy-Font/Gilroy Font/Gilroy-Bold.ttf") format("truetype"), url("../Gilroy-Font/Gilroy Font/Gilroy-Bold.woff") format("woff"), url("../Gilroy-Font/Gilroy Font/Gilroy-Bold.eot");
}

@font-face {
  font-family: gilroy-semibold;
  src: url("../Gilroy-Font/Gilroy Font/Gilroy-SemiBold.ttf") format("truetype"), url("../Gilroy-Font/Gilroy Font/Gilroy-SemiBold.woff") format("woff"), url("../Gilroy-Font/Gilroy Font/Gilroy-SemiBold.eot");
}

@font-face {
  font-family: gilroy-regular;
  src: url("../Gilroy-Font/Gilroy Font/Gilroy-regular.ttf") format("truetype"), url("../Gilroy-Font/Gilroy Font/Gilroy-regular.woff") format("woff"), url("../Gilroy-Font/Gilroy Font/Gilroy-regular.eot");
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Gilroy-regular;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon-btns {
  background-color: #161616;
  color: white;
  width: 200px;
  border: 1px solid rgba(136, 136, 136, 0.3);
  /* for Safari */
  background-clip: padding-box;
  border-radius: 7px;
  display: flex;
  gap: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.icon-btns:hover, .icon-btns:focus {
  background-color: white;
  color: black;
}

.icon-btns:hover .change, .icon-btns:focus .change {
  stroke: black !important;
  background-color: aqua;
}

input[type='text'] {
  background-color: #161616;
  color: white;
  width: 290px;
  border: 1px solid rgba(136, 136, 136, 0.3);
  /* for Safari */
  background-clip: padding-box;
  border-radius: 7px;
  display: flex;
  gap: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  padding-left: 2.5rem;
}

input[type='text']:focus {
  outline: none;
  width: 335px;
}

input[type='text']::placeholder {
  color: white;
  opacity: 1;
}

.input-bar {
  position: relative;
}

.input-bar svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

.regular {
  font-family: Gilroy-regular;
}

.medium {
  font-family: Gilroy-medium;
}

.semibold {
  font-family: Gilroy-semibold;
}

.bold {
  font-family: Gilroy-bold;
}

object {
  pointer-events: none;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar main";
  width: 98%;
  min-height: 680px;
  height: 100%;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.sidebar {
  grid-area: sidebar;
  box-sizing: border-box;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidebar .logo {
  width: 190px;
}

.sidebar div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.sidebar .log-out {
  background-color: black;
  margin-top: auto;
  margin-inline: auto;
  color: white;
  font-size: 1rem;
}

.sidebar .log-out button {
  display: flex;
  align-items: center;
  border-color: transparent;
  cursor: pointer;
  gap: 1rem;
}

.sidebar span {
  margin-bottom: -10px;
}

.mobile-nav {
  display: none;
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main {
  grid-area: main;
  box-sizing: border-box;
  margin-left: 1rem;
}

.main-head {
  margin-top: 3rem;
}

.main-head h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.main-head span, .main-head p {
  margin: 0;
  color: #707070;
}

.main-head p {
  font-size: 1.25rem;
}

.main-head span {
  font-size: 1rem;
}

.main-head .bold {
  display: inline;
}

.main-head div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-head .blue-btc {
  background-color: #B8F1FF;
  display: inline-block;
  font-family: Gilroy-bold;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.main-head .blue-btc span {
  color: black !important;
}

.card-field {
  margin-top: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.card div {
  position: relative;
  background-color: #161616;
  padding: 1.2rem;
  border: 1px solid rgba(136, 136, 136, 0.3);
  border-radius: 7px;
}

.card .stock {
  font-size: 0.75rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #707070;
}

.card h2 {
  margin: 0;
}

.card p {
  opacity: 0.6;
  font-size: 1rem;
}

.card .buy-btn {
  background-color: #121212;
  color: white;
  font-size: 1rem;
  border: 1px solid rgba(136, 136, 136, 0.3);
  border-radius: 7px;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.card .count-div {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.card .count {
  font-size: 1rem;
  background-color: rgba(217, 217, 217, 0.13);
  color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 20px;
  cursor: pointer;
}

.cash-main {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.cash-main p, .cash-main h1 {
  margin-left: 1rem;
  margin-bottom: 0;
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  hyphens: auto;
}

.cash-main h1 {
  margin-top: 3rem;
  font-size: 2rem;
}

.cash-main p {
  font-size: 1.25rem;
  letter-spacing: 0.5ch;
  color: #707070;
  margin-top: 0;
  text-align: center;
}

.cash-main .icon-btns {
  width: auto;
  margin: 1rem 0;
}

.cash-main .bitcoin-card {
  color: black;
  position: relative;
}

.cash-main .bitcoin-card h3 {
  font-size: 1.5rem;
  margin: 0;
}

.cash-main .bitcoin-card span {
  font-size: 1rem;
}

.cash-main .bitcoin-card div {
  margin-top: 3rem;
}

.cash-main .btc {
  position: absolute;
  right: 15px;
  bottom: 18px;
}

.cash-main .bitcoin-card {
  width: 250px;
  padding: 1rem;
  border-color: transparent;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cash-main .blue {
  background: linear-gradient(109.44deg, #FFFFFF 1.96%, #7EDDF4 69.14%, #A2F2DF 97.5%);
}

.cash-main .pink {
  background: linear-gradient(109.44deg, #FFFFFF 1.96%, #D57EF4 69.14%, #F0A2F2 97.5%);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login .logo {
  width: 190px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#captchaBackground {
  height: 220px;
  width: 250px;
  background-color: #2d3748;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#captchaHeading {
  color: white;
}

#captcha {
  width: 100px;
  height: 43px;
  background-color: white;
  border-color: transparent;
  border-radius: 7px;
  box-sizing: border-box;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captcha-div {
  display: flex;
  gap: 5px;
}

.captcha-div input {
  width: 190px;
}

@media only screen and (max-width: 850px) {
  .container {
    grid-template-columns: 2fr 3fr;
  }
}

@media only screen and (max-width: 809px) {
  .mobile-nav {
    display: flex;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .main-head {
    margin-inline: auto;
    width: fit-content;
  }
  .card-field {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cash-main {
    flex-direction: column;
    word-wrap: break-word;
    padding: 2rem;
  }
  .cash-main h1, .cash-main p {
    margin-left: 0;
  }
  .bitcoin-cards {
    margin-inline: auto;
  }
}
/*# sourceMappingURL=styles.css.map */